[submodule "examples/onethreadsinglewaveform/submodules/QtAttoDateTime"]
	path = examples/onethreadsinglewaveform/submodules/QtAttoDateTime
	url = https://github.com/AlekseyDurachenko/QtAttoDateTime.git
[submodule "examples/sssppsyncview/submodules/QtAttoDateTime"]
	path = examples/sssppsyncview/submodules/QtAttoDateTime
	url = https://github.com/AlekseyDurachenko/QtAttoDateTime.git
